#topic {
    font-size: larger;
    font-weight: bolder;
    color: rgb(2, 2, 116);
    text-align: center;
    margin-top: 10px;
}

.imagename {
    font-size: medium;
    font-weight: bold;
    color: rgb(17, 16, 16);
    text-align: center;
}


